div,
span,
h1,
h2,
h3,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;

  background: rgb(240, 242, 245);
}

button {
  cursor: pointer;

  border: none;
  outline: none;
  background: none;
}

.main {
  line-height: 100px;

  width: 800px;
  height: 100px;
  margin: 10px auto;

  text-align: center;

  color: rgb(91, 199, 44);
  border: 1px dashed rgb(91, 199, 44);
}
